{{#> layout pageTitle="Dev Portal"}}

  {{#* inline "content-block"}}
    <div class="app-container">
      <div id="homepage" class="container column expand">
        
        <section class="hero">
          <div class="row container">
            <div class="column">
              <h1 class="text-color light">Build with Kong</h1>
              <p class="text-color light-opaque">Kong can be even more powerful by integrating it with your platform, apps and services.</p>
              {{#if authData.authType}}
                <a href="{{config.PORTAL_GUI_URL}}/register" class="button button-success">Create a Developer Account</a>
              {{/if}}
            </div>
            <div class="column">
              <svg width="534px" height="364px" viewBox="0 0 534 364" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs>
                      <linearGradient x1="8.71983782%" y1="6.72962816%" x2="69.7710641%" y2="75.4647943%" id="linearGradient-1">
                          <stop stop-color="#FFFFFF" stop-opacity="0" offset="0%"></stop>
                          <stop stop-color="#FFFFFF" stop-opacity="0.2" offset="100%"></stop>
                      </linearGradient>
                  </defs>
                  <g id="01-work-in-progress" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.400000006">
                      <g id="dev-portal--homepage" transform="translate(-746.000000, -166.000000)">
                          <g id="section--hero">
                              <g id="illustration" transform="translate(734.000000, 167.000000)">
                                  <polygon id="Fill-1" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="104.899666 215.044314 146.859532 236.024247 146.859532 194.064381 104.899666 173.084448"></polygon>
                                  <polygon id="Fill-3" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="188.819398 173.084448 188.819398 215.044314 146.859532 236.024247 146.859532 194.064381"></polygon>
                                  <polygon id="Fill-5" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="104.899666 173.084448 146.859532 152.104515 188.819398 173.084448 146.859532 194.064381"></polygon>
                                  <polygon id="Fill-17" fill="#FFFFFF" points="125.879599 183.574415 125.879599 204.554348 146.859532 215.044314 146.859532 194.064381"></polygon>
                                  <polygon id="Fill-19" fill="#FFFFFF" points="167.839465 183.574415 167.839465 204.554348 146.859532 215.044314 146.859532 194.064381"></polygon>
                                  <polygon id="Fill-21" fill="#FFFFFF" points="125.879599 183.574415 146.859532 173.084448 167.839465 183.574415 146.859532 194.064381"></polygon>
                                  <polygon id="Fill-63" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="209.799331 236.024247 209.799331 257.004181 251.759197 277.984114 251.759197 257.004181"></polygon>
                                  <polygon id="Fill-65" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="293.719064 236.024247 293.719064 257.004181 251.759197 277.984114 251.759197 257.004181"></polygon>
                                  <polygon id="Fill-67" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="209.799331 236.024247 251.759197 215.044314 293.719064 236.024247 251.759197 257.004181"></polygon>
                                  <polygon id="Fill-69" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="209.799331 262.249164 209.799331 267.494147 251.759197 288.47408 251.759197 283.229097"></polygon>
                                  <polygon id="Fill-71" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="293.719064 262.249164 293.719064 267.494147 251.759197 288.47408 251.759197 283.229097"></polygon>
                                  <polygon id="Fill-73" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="209.799331 225.534281 209.799331 230.779264 251.759197 251.759197 251.759197 246.514214"></polygon>
                                  <polygon id="Fill-75" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="293.719064 225.534281 293.719064 230.779264 251.759197 251.759197 251.759197 246.514214"></polygon>
                                  <polygon id="Fill-77" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="209.799331 225.534281 251.759197 204.554348 293.719064 225.534281 251.759197 246.514214"></polygon>
                                  <polygon id="Fill-79" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="251.759197 277.984114 215.044314 259.626672 209.799331 262.249164 251.759197 283.229097 293.719064 262.249164 288.47408 259.626672"></polygon>
                                  <polygon id="Fill-81" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="209.799331 131.124582 209.799331 152.104515 251.759197 173.084448 251.759197 152.104515"></polygon>
                                  <polygon id="Fill-83" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="293.719064 131.124582 293.719064 152.104515 251.759197 173.084448 251.759197 152.104515"></polygon>
                                  <polygon id="Fill-85" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="209.799331 131.124582 251.759197 110.144649 293.719064 131.124582 251.759197 152.104515"></polygon>
                                  <polygon id="Fill-87" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="209.799331 157.349498 209.799331 162.594482 251.759197 183.574415 251.759197 178.329431"></polygon>
                                  <polygon id="Fill-89" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="293.719064 157.349498 293.719064 162.594482 251.759197 183.574415 251.759197 178.329431"></polygon>
                                  <polygon id="Fill-91" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="209.799331 120.634615 209.799331 125.879599 251.759197 146.859532 251.759197 141.614548"></polygon>
                                  <polygon id="Fill-93" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="293.719064 120.634615 293.719064 125.879599 251.759197 146.859532 251.759197 141.614548"></polygon>
                                  <polygon id="Fill-95" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="209.799331 120.634615 251.759197 99.6546823 293.719064 120.634615 251.759197 141.614548"></polygon>
                                  <polygon id="Fill-97" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="251.759197 173.084448 215.044314 154.727007 209.799331 157.349498 251.759197 178.329431 293.719064 157.349498 288.47408 154.727007"></polygon>
                                  <polygon id="Fill-99" fill-opacity="0.2" fill="#FFFFFF" points="167.839465 194.064381 220.289298 220.289298 209.799331 225.534281 209.799331 236.024247 146.859532 204.554348"></polygon>
                                  <polygon id="Fill-101" fill-opacity="0.2" fill="#FFFFFF" points="283.229097 157.349498 314.698997 173.084448 314.698997 183.574415 314.698997 194.064381 262.249164 167.839465"></polygon>
                                  <polygon id="Fill-103" fill-opacity="0.2" fill="#FFFFFF" points="419.598662 246.514214 367.148829 220.289298 388.128763 209.799331 440.578595 236.024247"></polygon>
                                  <polygon id="Fill-105" fill-opacity="0.2" fill="#FFFFFF" points="377.638796 309.454013 283.229097 262.249164 262.249164 272.73913 356.658863 319.94398"></polygon>
                                  <path d="M68.7675585,165.508361 L0,131.124582 L20.9799331,120.634615 L89.7474916,155.018395 L184.157191,202.223244 L163.177258,212.713211 L68.7675585,165.508361 Z" id="Combined-Shape" fill="url(#linearGradient-1)"></path>
                                  <polygon id="Fill-107" fill-opacity="0.2" fill="#FFFFFF" points="241.269231 178.329431 220.289298 167.839465 188.819398 183.574415 188.819398 204.554348"></polygon>
                                  <polygon id="Fill-109" fill-opacity="0.2" fill="#FFFFFF" points="346.168896 220.289298 325.188963 209.799331 272.73913 236.024247 293.719064 246.514214"></polygon>
                                  <polygon id="Fill-111" fill-opacity="0.2" fill="#FFFFFF" points="493.028428 157.349498 472.048495 146.859532 388.128763 188.819398 398.618729 194.064381 398.618729 204.554348"></polygon>
                                  <polygon id="Fill-113" fill-opacity="0.2" fill="#FFFFFF" points="388.128763 104.899666 367.148829 94.409699 283.229097 136.369565 293.719064 141.614548 293.719064 152.104515"></polygon>
                                  <polygon id="Fill-115" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="356.658863 319.94398 356.658863 340.923913 398.618729 361.903846 398.618729 340.923913"></polygon>
                                  <polygon id="Fill-117" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="524.498328 277.984114 524.498328 298.964047 398.618729 361.903846 398.618729 340.923913"></polygon>
                                  <polygon id="Fill-119" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="356.658863 272.73913 356.658863 293.719064 398.618729 314.698997 398.618729 293.719064"></polygon>
                                  <polygon id="Fill-121" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="524.498328 230.779264 524.498328 251.759197 398.618729 314.698997 398.618729 293.719064"></polygon>
                                  <polygon id="Fill-123" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="356.658863 272.73913 482.538462 209.799331 524.498328 230.779264 398.618729 293.719064"></polygon>
                                  <polygon id="Fill-125" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="356.658863 309.454013 356.658863 314.698997 398.618729 335.67893 398.618729 330.433946"></polygon>
                                  <polygon id="Fill-127" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="524.498328 267.494147 524.498328 272.73913 398.618729 335.67893 398.618729 330.433946"></polygon>
                                  <polygon id="Fill-129" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="398.618729 325.188963 361.903846 306.831522 356.658863 309.454013 398.618729 330.433946 524.498328 267.494147 519.253344 264.871656"></polygon>
                                  <polygon id="Fill-131" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="356.658863 298.964047 356.658863 304.20903 398.618729 325.188963 398.618729 319.94398"></polygon>
                                  <polygon id="Fill-133" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="524.498328 257.004181 524.498328 262.249164 398.618729 325.188963 398.618729 319.94398"></polygon>
                                  <polygon id="Fill-135" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="398.618729 314.698997 361.903846 296.341555 356.658863 298.964047 398.618729 319.94398 524.498328 257.004181 519.253344 254.381689"></polygon>
                                  <polygon id="Fill-137" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="398.618729 335.67893 361.903846 317.321488 356.658863 319.94398 398.618729 340.923913 524.498328 277.984114 519.253344 275.361622"></polygon>
                                  <polygon id="Fill-139" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="314.698997 183.574415 314.698997 204.554348 356.658863 225.534281 356.658863 204.554348"></polygon>
                                  <polygon id="Fill-141" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="398.618729 183.574415 398.618729 204.554348 356.658863 225.534281 356.658863 204.554348"></polygon>
                                  <polygon id="Fill-143" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="314.698997 183.574415 356.658863 162.594482 398.618729 183.574415 356.658863 204.554348"></polygon>
                                  <polygon id="Fill-145" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="314.698997 209.799331 314.698997 215.044314 356.658863 236.024247 356.658863 230.779264"></polygon>
                                  <polygon id="Fill-147" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="398.618729 209.799331 398.618729 215.044314 356.658863 236.024247 356.658863 230.779264"></polygon>
                                  <polygon id="Fill-149" stroke="#FFFFFF" fill-opacity="0.4" fill="#FFFFFF" points="314.698997 173.084448 314.698997 178.329431 356.658863 199.309365 356.658863 194.064381"></polygon>
                                  <polygon id="Fill-151" stroke="#FFFFFF" fill-opacity="0.2" fill="#FFFFFF" points="398.618729 173.084448 398.618729 178.329431 356.658863 199.309365 356.658863 194.064381"></polygon>
                                  <polygon id="Fill-153" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="314.698997 173.084448 356.658863 152.104515 398.618729 173.084448 356.658863 194.064381"></polygon>
                                  <polygon id="Fill-155" stroke="#FFFFFF" fill-opacity="0.6" fill="#FFFFFF" points="356.658863 225.534281 319.94398 207.176839 314.698997 209.799331 356.658863 230.779264 398.618729 209.799331 393.373746 207.176839"></polygon>
                                  <g id="Group-3" transform="translate(356.658863, 20.979933)" fill="#FFFFFF" fill-opacity="0.4" stroke="#FFFFFF">
                                      <polygon id="Fill-7" points="0 47.2048495 0 68.1847826 146.859532 141.614548 146.859532 120.634615"></polygon>
                                      <polygon id="Fill-11" points="0 0 0 20.9799331 146.859532 94.409699 146.859532 73.4297659"></polygon>
                                      <polygon id="Fill-157" points="0 36.7148829 0 41.9598662 146.859532 115.389632 146.859532 110.144649"></polygon>
                                      <polygon id="Fill-163" points="0 26.2249164 0 31.4698997 146.859532 104.899666 146.859532 99.6546823"></polygon>
                                  </g>
                                  <g id="Group" transform="translate(503.518395, 73.429766)" fill="#FFFFFF" fill-opacity="0.2" stroke="#FFFFFF">
                                      <polygon id="Fill-9" points="41.9598662 68.1847826 0 89.1647157 0 68.1847826 41.9598662 47.2048495"></polygon>
                                      <polygon id="Fill-13" points="41.9598662 20.9799331 0 41.9598662 0 20.9799331 41.9598662 0"></polygon>
                                      <polygon id="Fill-159" points="41.9598662 41.9598662 0 62.9397993 0 57.6948161 41.9598662 36.7148829"></polygon>
                                      <polygon id="Fill-165" points="41.9598662 31.4698997 0 52.4498328 0 47.2048495 41.9598662 26.2249164"></polygon>
                                  </g>
                                  <g id="Group-2" transform="translate(356.658863, 0.000000)" fill="#FFFFFF" fill-opacity="0.6" stroke="#FFFFFF">
                                      <polygon id="Fill-15" points="188.819398 73.4297659 146.859532 94.409699 0 20.9799331 41.9598662 0"></polygon>
                                      <polygon id="Fill-161" points="188.819398 110.144649 183.574415 107.522157 146.859532 125.879599 5.24498328 55.0723244 0 57.6948161 146.859532 131.124582"></polygon>
                                      <polygon id="Fill-167" points="188.819398 99.6546823 183.574415 97.0321906 146.859532 115.389632 5.24498328 44.5823579 0 47.2048495 146.859532 120.634615"></polygon>
                                      <polygon id="Fill-169" points="188.819398 120.634615 183.574415 118.012124 146.859532 136.369565 5.24498328 65.562291 0 68.1847826 146.859532 141.614548"></polygon>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
            </div>
          </div>
        </section>
        
        <section class="catalog">
          <div class="row">
            <h2>API Catalog</h2>
            <p class="tagline">Manage the API Gateway, integrate the traffic &amp; consumption, manage your files.</p>
          </div>
          <div class="row container">
            <div class="catalog-item">
              <svg width="48" height="48">
                <path fill="#20B491" fill-rule="evenodd" d="M44.66439 31.5661295C45.419514 29.5043459 45.874872 27.2980407 45.977677 25h-8.012841c-.085085 1.2056011-.32282 2.3690567-.693993 3.4711566l7.393547 3.0949729zm-.773034 1.8445649l-7.393518-3.0949611c-.522697 1.032294-1.16953 1.9910749-1.920865 2.8567088l5.635892 5.6986237c1.4833-1.6162736 2.72806-3.454994 3.678491-5.4603714zM45.977677 23C45.46971 11.6453382 36.354654 2.5302846 25 2.0223227v8.0128414C31.934974 10.5245995 37.4754 16.065026 37.964836 23h8.012841zm2.001867 0H48v2h-.020456C47.455282 37.7910864 36.919851 48 24 48 10.745166 48 0 37.254834 0 24S10.745166 0 24 0c12.919851 0 23.455282 10.2089136 23.979544 22.9999916V23zm-9.184148 17.2819874l-5.633321-5.6960244C30.706628 36.7129967 27.503612 38 24 38c-7.731986 0-14-6.2680135-14-14 0-7.3957531 5.734724-13.4520895 13-13.9648359V2.0223227C11.313866 2.5451137 2 12.1848719 2 24c0 12.1502645 9.849736 22 22 22 5.696939 0 10.888125-2.1653908 14.795396-5.7180126zM24 36c6.627417 0 12-5.372583 12-12s-5.372583-12-12-12-12 5.372583-12 12 5.372583 12 12 12z"/>
              </svg>
              <h3>Vitals API</h3>
              <p>Monitor your Kong health and understand the microservice API transactions traversing Kong.</p>
              <p><a href="{{config.PORTAL_GUI_URL}}/documentation/vitals">Read the docs</a></p>
            </div>
            <div class="catalog-item">
             <svg width="49" height="44">
                <path fill="#67C6E6" fill-rule="evenodd" d="M46.004166 10V7c0-.5522847-.447715-1-1-1H22.236068c-1.136316 0-2.175106-.6420071-2.683282-1.6583592l-.894427-1.7888544C18.488967 2.2140024 18.142704 2 17.763932 2H3c-.552285 0-1 .4477153-1 1v5H0V3c0-1.6568542 1.343146-3 3-3h14.763932c1.136316 0 2.175106.6420071 2.683282 1.6583592l.894427 1.7888544C21.511033 3.7859976 21.857296 4 22.236068 4h22.768098c1.656855 0 3 1.3431458 3 3v3H48v32c0 1.1045695-.895431 2-2 2H2c-1.104569 0-2-.8954305-2-2V10h46.004166zM2 12v30h44V12H2zm17 8l4 6h-3v8h-2v-8h-3l4-6zm10 14l-4-6h3v-8h2v8h3l-4 6z"/>
              </svg>
              <h3>Files API</h3>
              <p>Manage your Developer Portal files and API Specifications.</p>
              <p><a href="{{config.PORTAL_GUI_URL}}/documentation/files">Read the docs</a></p>
            </div>
            <div class="catalog-item">
             <svg width="48" height="48">
                <path fill="#3F89D3" fill-rule="evenodd" d="M34 4h6v2c0 1.1045695.895431 2 2 2h2v6h3.5c.276142 0 .5.2238576.5.5v1c0 .2761424-.223858.5-.5.5H44v4h3.5c.276142 0 .5.2238576.5.5v1c0 .2761424-.223858.5-.5.5H44v4h3.5c.276142 0 .5.2238576.5.5v1c0 .2761424-.223858.5-.5.5H44v4h3.5c.276142 0 .5.2238576.5.5v1c0 .2761424-.223858.5-.5.5H44v6h-2c-1.104569 0-2 .8954305-2 2v2h-6v3.5c0 .2761424-.223858.5-.5.5h-1c-.276142 0-.5-.2238576-.5-.5V44h-4v3.5c0 .2761424-.223858.5-.5.5h-1c-.276142 0-.5-.2238576-.5-.5V44h-4v3.5c0 .2761424-.223858.5-.5.5h-1c-.276142 0-.5-.2238576-.5-.5V44h-4v3.5c0 .2761424-.223858.5-.5.5h-1c-.276142 0-.5-.2238576-.5-.5V44H8v-2c0-1.1045695-.895431-2-2-2H4v-6H.5c-.276142 0-.5-.2238576-.5-.5v-1c0-.2761424.223858-.5.5-.5H4v-4H.5c-.276142 0-.5-.2238576-.5-.5v-1c0-.2761424.223858-.5.5-.5H4v-4H.5c-.276142 0-.5-.2238576-.5-.5v-1c0-.2761424.223858-.5.5-.5H4v-4H.5c-.276142 0-.5-.2238576-.5-.5v-1c0-.2761424.223858-.5.5-.5H4V8h2c1.104569 0 2-.8954305 2-2V4h6V.5c0-.2761424.223858-.5.5-.5h1c.276142 0 .5.2238576.5.5V4h4V.5c0-.2761424.223858-.5.5-.5h1c.276142 0 .5.2238576.5.5V4h4V.5c0-.2761424.223858-.5.5-.5h1c.276142 0 .5.2238576.5.5V4h4V.5c0-.2761424.223858-.5.5-.5h1c.276142 0 .5.2238576.5.5V4zM10 6.0152588c0 2.209139-1.790861 4-4 4V38c2.209139 0 4 1.790861 4 4h28c0-2.209139 1.790861-4 4-4V10c-2.209139 0-4-1.790861-4-4H10v.0152588zM14 10h20c2.209139 0 4 1.790861 4 4v20c0 2.209139-1.790861 4-4 4H14c-2.209139 0-4-1.790861-4-4V14c0-2.209139 1.790861-4 4-4zm0 2c-1.104569 0-2 .8954305-2 2v20c0 1.1045695.895431 2 2 2h20c1.104569 0 2-.8954305 2-2V14c0-1.1045695-.895431-2-2-2H14z"/>
              </svg>
              <h3>Admin API</h3>
              <p>This API is designed for internal use and provides full control over Kong.</p>
              <p><a href="{{config.PORTAL_GUI_URL}}/documentation/admin">Read the docs</a></p>
            </div>
          </div>
        </section>

        <section class="getting-started">
          <div class="row">
            <h2>Getting Started</h2>
            <p class="tagline">Start building in no time with these Tutorials</p>
          </div>
          <div class="row container guides">
            <div class="column guide">
              <div class="icon">
                <svg width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#FFF" fill-opacity=".1" d="M0 0h32v32H0z"/>
                    <path fill="#ADBFCC" d="M29 9v21c0 1.1045695-.8954305 2-2 2H5c-1.1045695 0-2-.8954305-2-2V2c0-1.1045695.8954305-2 2-2h15l9 9zm-10 1h8l-8-8v8zm-2-8H5v28h22V12H17V2zM8.5 5h6c.2761424 0 .5.22385763.5.5v1c0 .27614237-.2238576.5-.5.5h-6c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5zm0 5h6c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-6c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h11c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-11c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5z"/>
                  </g>
                </svg>
              </div>
              <div class="text">
                <p class="subtitle"><strong>5-Minutes guide to Kong EE</strong></p>
                <p>Learn the basics of Kong, make your first API Call.</p>
                <a href="{{config.PORTAL_GUI_URL}}/guides/5-minute-quickstart/" target="_blank">Continue Reading &rsaquo;</a>
              </div>
            </div>
            <div class="column guide">
              <div class="icon">
                <svg width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#FFF" fill-opacity=".1" d="M0 0h32v32H0z"/>
                    <path fill="#ADBFCC" d="M29 9v21c0 1.1045695-.8954305 2-2 2H5c-1.1045695 0-2-.8954305-2-2V2c0-1.1045695.8954305-2 2-2h15l9 9zm-10 1h8l-8-8v8zm-2-8H5v28h22V12H17V2zM8.5 5h6c.2761424 0 .5.22385763.5.5v1c0 .27614237-.2238576.5-.5.5h-6c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5zm0 5h6c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-6c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h11c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-11c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5z"/>
                  </g>
                </svg>
              </div>
              <div class="text">
                <p class="subtitle"><strong>Kong Architecture</strong></p>
                <p>Learn the purpose and architecture of Kongs underlying components.</p>
                <a href="{{config.PORTAL_GUI_URL}}/guides/kong-architecture-overview/" target="_blank">Continue Reading &rsaquo;</a>
              </div>
            </div>
          </div>
          <div class="row container guides">
            <div class="column guide">
              <div class="icon">
                <svg width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#FFF" fill-opacity=".1" d="M0 0h32v32H0z"/>
                    <path fill="#ADBFCC" d="M29 9v21c0 1.1045695-.8954305 2-2 2H5c-1.1045695 0-2-.8954305-2-2V2c0-1.1045695.8954305-2 2-2h15l9 9zm-10 1h8l-8-8v8zm-2-8H5v28h22V12H17V2zM8.5 5h6c.2761424 0 .5.22385763.5.5v1c0 .27614237-.2238576.5-.5.5h-6c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5zm0 5h6c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-6c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h11c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-11c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5z"/>
                  </g>
                </svg>
              </div>
              <div class="text">
                <p class="subtitle"><strong>Upload your first file via API</strong></p>
                <p>Create your own documentation with your own OAS File.</p>
                <a href="{{config.PORTAL_GUI_URL}}/guides/uploading-spec" target="_blank">Continue Reading &rsaquo;</a>
              </div>
            </div>
            <div class="column guide">
              <div class="icon">
                <svg width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#FFF" fill-opacity=".1" d="M0 0h32v32H0z"/>
                    <path fill="#ADBFCC" d="M29 9v21c0 1.1045695-.8954305 2-2 2H5c-1.1045695 0-2-.8954305-2-2V2c0-1.1045695.8954305-2 2-2h15l9 9zm-10 1h8l-8-8v8zm-2-8H5v28h22V12H17V2zM8.5 5h6c.2761424 0 .5.22385763.5.5v1c0 .27614237-.2238576.5-.5.5h-6c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5zm0 5h6c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-6c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h11c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-11c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5z"/>
                  </g>
                </svg>
              </div>
              <div class="text">
                <p class="subtitle"><strong>Vitals endpoints 101</strong></p>
                <p>Integrate data from Kong to your favorite monitoring tool.</p>
                <a href="{{config.PORTAL_GUI_URL}}/guides/kong-vitals" target="_blank">Continue Reading &rsaquo;</a>
              </div>
            </div>
          </div>
        </section>

        <section class="footer column container expand">
          <h2 class="text-color light">Ready to Start Building?</h2>
          <p class="text-color light-opaque">View the product documentation to learn more about how to configure, <br>customize, add specs, and apply authentication to the Kong Developer Portal.</p>
          <a href="https://getkong.org/docs/enterprise/latest/developer-portal/introduction/">
            <button class="button button-success">
              View Dev Portal Documentation
            </button>
          </a>
        </section>

      </div>
    </div>
  {{/inline}}

{{/layout}}
